:host {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

    .pokemon {
        position: relative;
        display: flex;
        background: var(--branco);

        width: calc(49% - 40px);
        height: 120px;
        margin-bottom: 10px;
        padding: 20px;

        border-radius: 10px;

        &__status {
            h2 {
                font-size: 24px;
                font-style: italic;
                font-weight: 800;
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    background: rgb(204, 204, 204);
                    font-size: 15px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 10px;

                    width: 60px;
                    margin-bottom: 5px;
                }
            }
        }

        &__image {
            position: absolute;
            right: 20px;
            bottom: 20px;

            img {
                width: 80px;
            }
        }
    }
}